/* Reset styles */

:root {
  --main-border-radius: 5px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 400px;
  height: 500px;
  background-color: #f7f7f7;
}

select,
button {
  border: none;
  cursor: pointer;
}

canvas {
  border: 1px solid #777;
  border-radius: var(--main-border-radius);
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Header styles */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #777;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.title {
  font-size: 18px;
}

#pick-color-btn {
  width: 100px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--main-border-radius);
  background-color: #2bb673;
}

#pick-color-btn:hover {
  opacity: 0.7;
}

/* Content styles */

.content {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.color-picker-wrapper {
  display: flex;
  justify-content: space-between;
}

.color-picker-wrapper > div:first-child,
.color-picker-wrapper > div:last-child {
  position: relative;
  height: 202px;
}

#color-slider,
#hue-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: transparent;
  pointer-events: none;
}

#hue-slider {
  top: 0;
  width: 100%;
  height: 10px;
  border-radius: 5px;
}

.color-value-wrapper {
  position: relative;
  display: flex;
}

#color-type-select {
  width: 100px;
  padding: 0 5px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #777;
  border-right: none;
  background-color: transparent;
}

.color-value-filed {
  flex: 1;
  display: flex;
  gap: 5px;
  padding: 5px;
  border: 1px solid #2bb673;
  border-radius: 0 5px 5px 0;
}

.color-value {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
}

#copy-value-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.copy-tooltip {
  position: absolute;
  right: 0;
  top: 110%;
  font-size: 12px;
  color: #2bb673;
  font-weight: 500;
  background-color: transparent;
}

.recent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.recent-colors {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.recent-color-btn {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: var(--main-border-radius);
}

.recent-color-tooltip {
  position: absolute;
  top: 130%;
  left: 50%;
  padding: 5px;
  border-radius: var(--main-border-radius);
  font-size: 12px;
  color: #fff;
  background-color: #777;
  transform: translateX(-50%);
}

.recent-color-tooltip::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 5px;
  background-color: #777;
  transform: translate(-50%, -50%) rotate(45deg);
}
